@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Rokkitt:700&display=swap');

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.container-fluid .container {
  max-width: 1310px;
}

.middle-logo img {
  object-position: 0 0;
  height: 70px;
}

.logo-cont {
  background-color: #f72210;
  height: 95px;
}

.fas {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 991px) {
  .middle-logo img {
    /* object-position: -15px 0;
    width: 152px;
    height: 37px;
    margin: 0; */

    object-position: 0 0;
    height: 37px;
  }

  .logo-cont {
    justify-content: space-between;
    align-items: center;
    height: 57px;
    padding: 0 2px !important;
  }
}

.featured-stories h5 > a:hover {
  color: black;
  border-bottom: 1px solid red;
  padding-bottom: 1px;
}

.text-cont {
  color: black;
  line-height: 1.3;
}

.image-wrapper {
  position: relative;
}

.fa {
  font-size: 21px;
}

.text-bottom {
  position: absolute;
  bottom: 0;
  font-style:"Roboto Condensed", sans-serif;
  color: #f72210;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.op-cont p > a {
  color: black;
  line-height: 1;
}

.op-cont p > a:hover {
  color: #f72210;
}

.op-cont {
  line-height: 0.5;
}

.pan-image {
  width: 151px;
  height: 151px;
}

.pan-text {
  position: absolute;
  background-color: #c2d4d7;;
  bottom: 0;
  font-size: 10px;
}

.pan-text a{
  color:#272727;
}

.pan-text a:hover {
  background-color: #272727;
  color: #c2d4d7;
}

.opinion-img{
  /* object-fit: cover; */
  width: 79px;
  height: 63px;
}